<div class="oceanwp-social-menu clr simple-social">

	<div class="social-menu-inner clr">

			<ul aria-label="Social-Media-Links">

				<li class="oceanwp-facebook"><a href="{{ site.facebook }}" aria-label="Facebook (öffnet in neuem Tab)" target="_blank" rel="noopener noreferrer"><i class=" fab fa-facebook" aria-hidden="true" role="img"></i></a></li><li class="oceanwp-instagram"><a href="{{ site.instagram }}" aria-label="Instagram (öffnet in neuem Tab)" target="_blank" rel="noopener noreferrer"><i class=" fab fa-instagram" aria-hidden="true" role="img"></i></a></li>
			</ul>

	</div>

</div>
